[Unit]
Description=uWSGI Logyou VisibleOne
After=mariadb.service
Requires=mariadb.service

[Service]
#ExecStartPre=/bin/bash -c 'mkdir -p  /home/logyou/uwsgi; chown logyou:www-data  /home/logyou/uwsgi'
##ExecStart=/home/logyou/project/django/bin/uwsgi --emperor /home/logyou/uwsgi/sites
#ExecStart=/bin/bash -c 'source /home/logyou/project/logyou/uih-log-collector-management/env_server.sh; /home/logyou/project/django/bin/uwsgi --emperor /home/logyou/uwsgi/sites'

#work
#ExecStartPre=/bin/bash -c 'mkdir -p /home/logyou/project/uwsgi; chown logyou:www-data  /home/logyou/project/uwsgi'
#ExecStart=/bin/bash -c 'source /home/logyou/project/logyou/uih-log-collector-management/env_server.sh; /home/logyou/project/django/bin/uwsgi --emperor /home/logyou/project/uwsgi/sites'

ExecStartPre=/bin/bash -c 'mkdir -p /home/logyou/project/logyou/uih-log-collector-management/uwsgi; chown logyou:www-data /home/logyou/project/logyou/uih-log-collector-management/uwsgi'
ExecStart=/bin/bash -c 'source /home/logyou/project/logyou/uih-log-collector-management/env_server.sh; /home/logyou/project/django/bin/uwsgi --emperor /home/logyou/project/logyou/uih-log-collector-management/uwsgi/sites'


Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all
#User=logyou
#Group=logstash

[Install]
WantedBy=multi-user.target
