
[Unit]
Description=uWSGI Logyou VisibleOne

[Service]
#work
#ExecStart=/bin/bash -c 'source /home/logyou/project/logyou/uih-log-collector-management/env_server.sh; /home/logyou/project/django/bin/uwsgi --http :8001 --home /home/logyou/project/django --chdir /home/logyou/project/logyou/uih-log-collector-management -w uihlogcollector.wsgi --enable-threads'
ExecStart=/bin/bash -c 'source /home/logyou/project/logyou/uih-log-collector-management/env_server.sh; /home/logyou/project/django/bin/uwsgi --ini /home/logyou/project/logyou/uih-log-collector-management/uwsgi/sites/uwsgi_logyou.ini --static-map /logyou/static=/home/logyou/project/logyou/uih-log-collector-management/static  --enable-threads'



Restart=always
KillSignal=SIGQUIT
Type=notify

NotifyAccess=all
#User=logyou
#Group=logstash

[Install]
WantedBy=multi-user.target

